*{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}

body {
    text-align: center;
    font-family: sans-serif;
}

.head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
    background: #213445;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.navbar {
    margin-top: 15px;
    display: flex;
    margin-right: 10px;
    align-items: center;
}

.logo {
    margin-left: 40px;
}


.logo img {
	display: block;
	width: 100px;
	height: 200px;
	object-fit: contain;
}
nav ul {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 10px;
  }
  
  nav li {
    margin-left: 5px;
  }

  nav a {
    color: white;
    text-decoration: none;
    font-size:smaller;
    font-weight: bold;
    transition: all 0.3s ease;
  }
  /* color letra mouse en el barra de navegación*/
  nav a:hover {
    color: rgb(255, 255, 255);
  } 

.navbar a {
    display: block;
    padding: 15px 5px;
    color: #fff;
    text-decoration: none;
    text-transform: none;
    font-size: 18px;
}
/* color fondo mouse en el barra de navegación*/
.navbar a:hover {
    background: #3f54a1;
}
.navbar .submenu .hijos{
    margin-top: none;
    display: none;
    background: #213445;
    position:absolute;
    width: auto;
    height: auto;
}

.navbar ul li:hover .hijos{
    display: block;
}
.navbar .submenu .hijos li{
    display: block;
    overflow: hidden;
    border-bottom:none;
}
.navbar .submenu .hijos li a{
    display: block;
}
.fondo{
   max-height: 60rem;
   display: flex;
}
.title {
    margin-bottom: 10px;
    font-size: 60px;
    font-weight: 800;
    text-transform: none;
    color: #141463;
  
    
}

p {
    margin-bottom: 10px;
    font-size: 20px;
    color: #154b7a;
    padding: 0 0px;
    font-weight: 400;
}
.title2 {
    margin-bottom: 5px;
    font-size: 50px;
    font-weight: 800;
    text-transform: none;
    color: #154b7a;
  
    
}
.btn {
    display: inline-block;
    margin-top: 100px;
    padding: 20px 100px;
    border: 5px solid #213445;
    color: #fff;
    text-decoration: rgb(14, 14, 154);
    background: #214564;
}

.btn:hover {
    color: lightblue;
    background: #456887;
    
}

.btn-home {
    display:flex;
}

.btn-home a {
    margin: 0 10px;
}



.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;

}

.box-container .box {
    height: 5rem;
    width: 20rem;
    background: #003052;
    text-align: center;
    border-radius: 1rem;
    box-shadow: 0.3rem 5rem rgba(0, 0 , 0, .5);
    margin: 2rem;   
}

.box img {
    align-items: center;
	display: block;
	width: 270px;
	height: 70px;
	object-fit: contain;
}

.box-container .box h3 {
    font-size: 20px;
    color: #43af43;

}

.about {
    padding: 120px;
    background: #171717;
}

.price {
    
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}


.contact {
    padding-top: 20px;
    background: #171717;
    padding-bottom: 0;
}

#bg-contacto{
    position: relative;
    top: -100px;
}
#seccion-contacto{
    background-color: #213445;
    min-height: 500px;
    position: relative;
}
.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}



.btn-square,
.btn-sm-square,
.btn-lg-square {
    margin-top: 3px;
    padding-left: 500;
    padding-right: 500;
    text-align: center;
}

.back-to-top {
    position: fixed;
    display: flex;
    right: 50px;
    bottom: 20px;
    z-index: 1100;
}

.btn-topb {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 10px;
    border: 5px solid #9da7b0;
    color: #213445;
    text-decoration: rgb(14, 14, 154);
    background: #527fa9;
}
.contact-form .help-block ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

@media (max-width: 768px) {
    #intro{
        width: 90% !important;
        
    }

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
    .servicio-fila {
        width: 100% !important;
        text-align: center; 
    }
    #bg-contacto{
        position: relative;
        top: -110px;
    }
    
         
}
@media(max-width: 1500PX){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}
